<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Simple to do list example</title>
    <meta name="author" content="Fiona Przybylski">
    <meta name="keywords" content="Simple to do list, list">
    <link rel="stylesheet" media="screen" href="styles/css/reset.css">
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="styles/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
</head>

<body ng-app="dataFeed">
    <div class="container" ng-controller="FeedCtrl">
        <header>
            <nav class="clearfix">
                <div class="logo"><a href="#"><span>Do</span> list</a></div>
                <a href="#" class="nav-toggle">&#9776;</a>
                <div class="menu">
                    <ul class="collapse transition-main">
                        <li><a href="#1" ng-click="geturl(1)" ng-class="{'active': user == 1}">user one</a></li>
                        <li><a href="#2" ng-click="geturl(2)" ng-class="{'active': user == 2}">user two</a></li>
                        <li><a href="#3" ng-click="geturl(3)" ng-class="{'active': user == 3}">user three</a></li>
                        <li><a href="#3" ng-click="geturl(4)" ng-class="{'active': user == 4}">user four</a></li>
                        <li><a href="#">Settings</a>
                            <ul>
                                <li><a href="#">Change settings</a></li>
                                <li><a href="#">Change settings</a></li>
                                <li><a href="#">Change settings</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <section class="main-content">
            <div class="filters clearfix">
                <ul>
                    <li ng-class="{'active' : show== 'All'}" ng-click="getstatus('All')">Show all</li>
                    <li ng-class="{'active' : show== true}" ng-click="getstatus(true)">Complete</li>
                    <li ng-class="{'active' : show== false}" ng-click="getstatus(false)">Incomplete</li>
                </ul>
            </div>
            <my-display display="information" user="user" show="show"></my-display>
        </section>
        <footer></footer>
    </div>
    <script type="text/javascript" src="node_modules/angular-ui-sortable/src/sortable.js"></script>
    <script src="script.js"></script>
</body>

</html>
