*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.clearfix:after {
  display: table;
  content: "";
  clear: both; }

.transition-main {
  transition: all 0.8s ease; }

body {
  font-family: Arial, sans-serif;
  background: #eeeeee; }

a {
  text-decoration: none; }

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0; }

nav {
  width: 100%;
  background: #1cade9;
  padding: 36px 10%;
  color: #ffffff;
  font-size: 16px; }
  @media screen and (min-width: 768px) {
    nav {
      padding: 36px 10% 144px 10%; } }
  nav a {
    color: #ffffff; }
  nav a.nav-toggle {
    float: right;
    font-size: 32px; }
    @media screen and (min-width: 768px) {
      nav a.nav-toggle {
        display: none; } }
  nav .logo {
    display: inline-block;
    float: left; }
    nav .logo a {
      font-family: 'Fjalla One', sans-serif;
      font-size: 36px;
      letter-spacing: 1px;
      color: #fffffff;
      text-transform: uppercase; }
      nav .logo a span {
        color: #0e6b91; }
  nav .menu ul {
    display: block;
    float: none;
    background: #79cff2;
    margin-top: 72px; }
    nav .menu ul li a {
      display: block;
      font-size: 18px;
      padding: 12px 6px;
      border-bottom: 1px solid #4abeee;
      clear: both; }
      nav .menu ul li a:last-of-type {
        margin-right: 0; }
      nav .menu ul li a:hover {
        background: #33b5eb; }
      nav .menu ul li a:active, nav .menu ul li a.active {
        color: #0e6b91; }
    @media screen and (max-width: 768px) {
      nav .menu ul.collapse {
        display: none; } }
  @media screen and (min-width: 768px) {
    nav .menu ul {
      display: inline-block;
      float: right;
      margin-top: 0;
      background: transparent;
      position: relative; }
      nav .menu ul li,
      nav .menu ul li a {
        display: inline-block;
        font-size: 18px;
        padding: 6px;
        margin-right: 18px;
        border-bottom: none; }
        nav .menu ul li:last-of-type,
        nav .menu ul li a:last-of-type {
          margin-right: 0; }
        nav .menu ul li:hover, nav .menu ul li:active, nav .menu ul li.active,
        nav .menu ul li a:hover,
        nav .menu ul li a:active,
        nav .menu ul li a.active {
          color: #0e6b91;
          background: transparent; }
          nav .menu ul li:hover > ul, nav .menu ul li:active > ul, nav .menu ul li.active > ul,
          nav .menu ul li a:hover > ul,
          nav .menu ul li a:active > ul,
          nav .menu ul li a.active > ul {
            display: block; }
      nav .menu ul ul {
        display: none;
        float: none;
        position: absolute;
        z-index: 99;
        right: 0;
        background: #79cff2; }
        nav .menu ul ul li,
        nav .menu ul ul li a {
          display: block;
          margin: 0;
          padding: 12px 6px;
          clear: both; }
          nav .menu ul ul li:last-of-type,
          nav .menu ul ul li a:last-of-type {
            margin-right: 0; }
          nav .menu ul ul li:hover,
          nav .menu ul ul li a:hover {
            background: #33b5eb; } }

section.main-content {
  background: #ffffff;
  margin: 0%;
  min-height: 400px;
  border-bottom: 18px solid #FF9014; }
  @media screen and (min-width: 768px) {
    section.main-content {
      margin: -126px 10% 0 10%; } }

.filters {
  text-align: center;
  background: #1cade9; }
  .filters ul {
    display: inline-block;
    margin: 6px 0; }
    @media screen and (min-width: 768px) {
      .filters ul {
        float: right; } }
    .filters ul li {
      display: inline-block;
      padding: 6px 12px;
      background: #03709F;
      border-radius: 3px;
      color: #ffffff; }
      .filters ul li:hover {
        background: #72d3fc; }
      .filters ul li:active, .filters ul li.active {
        background: #024d6d; }

.feed-wrapper {
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgba(3, 112, 159, 0.2);
  min-height: 130px;
  padding: 18px 36px;
  background: #ffffff;
  font-size: 80%; }
  .feed-wrapper.short-width {
    min-height: 50px; }
    .feed-wrapper.short-width:hover {
      background: #ffffff;
      cursor: default; }
  .feed-wrapper i.fa.fa-arrows {
    position: absolute;
    color: #03709F;
    top: 45%;
    left: 4px; }
  @media screen and (min-width: 768px) {
    .feed-wrapper {
      font-size: 100%; } }
  .feed-wrapper:hover {
    background: #a7dff7; }
  .feed-wrapper .feed-content {
    width: 100%;
    cursor: pointer; }
    .feed-wrapper .feed-content h3 {
      font-weight: bold;
      float: left; }
      .feed-wrapper .feed-content h3 ~ .fa {
        margin-left: 12px;
        color: #03709F;
        vertical-align: middle; }
    .feed-wrapper .feed-content .date {
      float: left;
      clear: both;
      display: block;
      margin-top: 18px;
      margin-left: 38px;
      display: none; }
      @media screen and (min-width: 768px) {
        .feed-wrapper .feed-content .date {
          display: inline-block;
          float: right;
          margin: 0;
          clear: none;
          margin-left: 38px; } }
    .feed-wrapper .feed-content span.description {
      clear: both;
      display: block;
      padding-top: 18px; }
      .feed-wrapper .feed-content span.description.incomplete {
        color: #ff4d4d; }
    .feed-wrapper .feed-content span.status {
      display: inline-block;
      float: left;
      margin-top: 18px;
      width: 180px; }
    .feed-wrapper .feed-content .fa {
      margin-right: 18px;
      width: 20px; }
  .feed-wrapper .profile {
    display: inline-block;
    width: 10%; }
  .feed-wrapper div.hidden {
    display: none; }

input[type=checkbox] {
  display: none; }

.custom-checkbox {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  position: relative;
  float: right;
  margin-top: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #03709F;
  border-radius: 5px;
  vertical-align: bottom; }
  .custom-checkbox:after {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 1.5em;
    font-weight: normal;
    position: relative;
    display: none;
    color: white;
    top: -5px; }
  .custom-checkbox:before {
    content: "Task status";
    display: inline-block;
    font-weight: bold;
    color: #03709F;
    position: absolute;
    right: 36px;
    width: 100px; }

.hidden-checkbox:checked ~ .custom-checkbox {
  background: #1BBC9B; }

.hidden-checkbox:checked ~ .custom-checkbox:after {
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
