//core starter styles
*,
*:after,
*:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.clearfix:after {
    display: table;
    content: "";
    clear: both;
}

.transition-main {
    transition: all 0.8s ease;
}

$base: 18px;
$primary: #1cade9;
$secondary:#03709F;
$complimentary: #FF9014;
$positive: #1BBC9B;
body {
    font-family: Arial, sans-serif;
    background: #eeeeee;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

nav {
    width: 100%;
    background: $primary;
    padding: $base*2 10%;
    color: #ffffff;
    font-size: 16px;
    @media screen and (min-width: 768px) {
        padding: $base*2 10% $base*8 10%;
    }
    a {
        color: #ffffff;
    }
    a.nav-toggle {
        float: right;
        font-size: 32px;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    .logo {
        display: inline-block;
        float: left;
        a {
            font-family: 'Fjalla One', sans-serif;
            font-size: 36px;
            letter-spacing: 1px;
            color: #fffffff;
            text-transform: uppercase;
            span {
                color: darken($primary, 20%);
            }
        }
    }
    .menu {
        ul {
            display: block;
            float: none;
            background: lighten($primary, 20%);
            margin-top: $base*4;
            li a {
                display: block;
                font-size: 18px;
                padding: 12px 6px;
                border-bottom: 1px solid lighten($primary, 10%);
                clear: both;
                &:last-of-type {
                    margin-right: 0;
                }
                &:hover {
                    background: lighten($primary, 5%);
                }
                &:active,
                &.active {
                    color: darken($primary, 20%);
                }
            }
            @media screen and (max-width: 768px) {
                &.collapse {
                    display: none;
                }
            }
        }
        @media screen and (min-width: 768px) {
            ul {
                display: inline-block;
                float: right;
                margin-top: 0;
                background: transparent;
                position: relative;
                li,
                li a {
                    display: inline-block;
                    font-size: 18px;
                    padding: 6px;
                    margin-right: 18px;
                    border-bottom: none;
                    &:last-of-type {
                        margin-right: 0;
                    }
                    &:hover,
                    &:active,
                    &.active {
                        color: darken($primary, 20%);
                        background: transparent;
                        > ul {
                            display: block;
                        }
                    }
                }
                ul {
                    display: none;
                    float: none;
                    position: absolute;
                    z-index: 99;
                    right: 0;
                    background: lighten($primary, 20%);
                    li,
                    li a {
                        display: block;
                        margin: 0;
                        padding: 12px 6px;
                        clear: both;
                        &:last-of-type {
                            margin-right: 0;
                        }
                        &:hover {
                            background: lighten($primary, 5%);
                        }
                    }
                }
            }
        }
    }
}

section {
    &.main-content {
        background: #ffffff;
        margin: 0%;
        min-height: 400px;
        border-bottom: 18px solid $complimentary;
        @media screen and (min-width: 768px) {
            margin: -$base*7 10% 0 10%;
        }
    }
}

.filters {
    text-align: center;
    background: $primary;
    ul {
        display: inline-block;
        margin: 6px 0;
        @media screen and (min-width: 768px) {
            float: right;
        }
        li {
            display: inline-block;
            padding: 6px 12px;
            background: $secondary;
            border-radius: 3px;
            color: #ffffff;
            &:hover {
                background: lighten($secondary, 40%)
            }
            &:active,
            &.active {
                background: darken($secondary, 10%)
            }
        }
    }
}

.feed-wrapper {
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(3, 112, 159, 0.2);
    min-height: 130px;
    padding: $base $base*2;
    background: #ffffff;
    font-size: 80%;
    &.short-width {
        min-height: 50px;
        &:hover {
            background: #ffffff;
            cursor: default;
        }
    }
    i.fa.fa-arrows {
        position: absolute;
        color: $secondary;
        top: 45%;
        left: 4px;
    }
    @media screen and (min-width: 768px) {
        font-size: 100%;
    }
    &:hover {
        background: lighten($primary, 30%);
    }
    .feed-content {
        width: 100%;
        cursor: pointer;
        h3 {
            font-weight: bold;
            float: left;
            & ~ .fa {
                margin-left: 12px;
                color: $secondary;
                vertical-align: middle;
            }
        }
        .date {
            float: left;
            clear: both;
            display: block;
            margin-top: 18px;
            margin-left: 38px;
            display: none;
            @media screen and (min-width: 768px) {
                display: inline-block;
                float: right;
                margin: 0;
                clear: none;
                margin-left: 38px;
            }
        }
        span.description {
            clear: both;
            display: block;
            padding-top: $base;
            &.incomplete {
                color: #ff4d4d;
            }
        }
        span.status {
            display: inline-block;
            float: left;
            margin-top: $base;
            width: 180px;
        }
        .fa {
            margin-right: $base;
            width: 20px;
        }
    }
    .profile {
        display: inline-block;
        width: 10%;
    }
    div.hidden {
        display: none;
    }
}

input[type=checkbox] {
    display: none;
}

.custom-checkbox {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    position: relative;
    float: right;
    margin-top: $base;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: $secondary;
    border-radius: 5px;
    vertical-align: bottom;
    &:after {
        content: "\f00c";
        font-family: FontAwesome;
        font-size: 1.5em;
        font-weight: normal;
        position: relative;
        display: none;
        color: white;
        top: -5px;
    }
    &:before {
        content: "Task status";
        display: inline-block;
        font-weight: bold;
        color: $secondary;
        position: absolute;
        right: 36px;
        width: 100px;
    }
}

.hidden-checkbox:checked ~ .custom-checkbox {
    background: $positive;
}

.hidden-checkbox:checked ~ .custom-checkbox:after {
    display: inline-block;
}
