<div ui-sortable="sortableOptions" ng-model="display">
    <div class="feed-wrapper clearfix" ng-repeat="item in display" ng-if="item.userId == user" ng-show=" show == 'All' ">
        <i class="fa fa-arrows" aria-hidden="true"></i>
        <div class="feed-content">
            <div class="hidden">{{item.userId}}</div>
            <h3><i class="fa fa-bullhorn" aria-hidden="true"></i>{{item.title}}</h3>
            <span class="date">Created on {{item.created_at | dateFilter | date:"dd-MMMM-yyyy"}}</span>
            <span class="description"><i class="fa fa-info-circle" aria-hidden="true"></i>{{item.description}}</span>
            <span class="status" ng-class="{'incomplete' : !item.completed}"><i class="fa fa-gavel" aria-hidden="true"></i>{{item.completed == true ? 'Its done!' : 'Needs to be done'}}</span>
            <input ng-model="item.completed" type="checkbox" id="{{item.id}}" class="hidden-checkbox">
            <label for="{{item.id}}" class="custom-checkbox">
            </label>
        </div>
    </div>
</div>
<div class="feed-wrapper short-width clearfix" ng-repeat="item in display" ng-if="item.userId == user" ng-show=" item.completed == show">
    <div class="feed-content">
        <div class="hidden">{{item.userId}}</div>
        <h3>{{item.title}}</h3><i class="fa fa-check" aria-hidden="true" ng-show="item.completed"></i><i class="fa fa-exclamation" aria-hidden="true" ng-show="!item.completed"></i>
        <span class="date">Created on {{item.created_at | dateFilter | date:"dd-MMMM-yyyy"}}</span>
    </div>
</div>
